<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				Contacts for <%= @user.name %>
			</h1>
		<% unless @user.contacts.empty? %>
			<%= page_entries_info @contacts %>
			<%= will_paginate @contacts %>
			<table class="contacts" summary="User contacts">
				<%= render @contacts %>
			</table>
			<%= will_paginate @contacts %>
		<% end %>
		</td>

		<td class="sidebar round">
			<strong>User Information</strong><br />
			<strong>Name</strong> <%= @user.name %><br />
			<strong>Primary Email</strong> <%= @user.email %><br />
		<% unless @user.alternate_emails.empty? %>
			<strong>Alternate Email</strong> <%= render @alternate_emails %><br />
		<% end %>
			<strong>Contacts</strong> <%= @user.contacts.count %><br />
			<strong>Profile URL</strong> <%= link_to user_path(@user), @user %><br />
			<strong>All Contacts</strong> <%= link_to contacts_path, contacts_path %><br />
			<strong>Important Contacts</strong> <%= link_to views_important_path, views_important_path %>
		</td>
	</tr>
</table>