<h1><% if @contact.important %>Important <% end %>Contact: <%= @contact.name %></h1>
<span>Email Addresses: (<%= @contact.contact_emails.count %>) <%= @contact.contact_emails.map{ |ce| ce.email }.join(", ") %></span>

<table>
	<tr>
		<th>Statistic</th>
		<th>Count</th>
	</tr>

<% arr = [ :received_direct, :received_cc, :sent_direct, :sent_cc, :total, :answered, :unread, :deleted ] %>
<% arr.each do |attr| %>	
	<tr>
		<td><%= attr %></td>
		<td><%= number_with_delimiter(@contact_emails.inject(0) { |sum, ce| sum + ce.send(attr) }) %></td>
	</tr>
<% end %>
</table>
<div><%= link_to "More Details", :controller => "contact_emails", :action => "show", :id => @contact.id  %></div>
<div>Note: Stats are totaled across all of the email addresses for the contact</div>
<div>Back to all contacts for <%= link_to @user.name, contacts_path %></div>
