<tr>
	<td><%= contact_email.contact_id %></td>
	<td><%= number_with_delimiter(contact_email.email) %></td>
	<td><%= number_with_delimiter(contact_email.received_direct) %></td>
	<td><%= number_with_delimiter(contact_email.received_cc) %></td>
	<td><%= number_with_delimiter(contact_email.sent_direct) %></td>
	<td><%= number_with_delimiter(contact_email.sent_cc) %></td>	
	<td><%= number_with_delimiter(contact_email.total) %></td>	
	<td><%= number_with_delimiter(contact_email.answered) %></td>
	<td><%= number_with_delimiter(contact_email.unread) %></td>
	<td><%= number_with_delimiter(contact_email.deleted) %></td>	
</tr>
